<form action="/upload"
      enctype="multipart/form-data" method="POST">
        <span>Upload CSV file:</span><br><br>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="myFile" accept=".csv">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <button class="btn btn-success">Upload</button> 
    </form>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">chrome_reader_mode</i>
              </div>
              <p class="card-category">Total rows</p>
              <h3 class="card-title"><%= r_count %> 
                <small>rows</small>
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">amp_stories</i>
                </div>
                <p class="card-category">Total columns</p>
                <h3 class="card-title"><%= header.length %> 
                    <small>columns</small>
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">Null values</p>
                <h3 class="card-title"><%= null_values %>
                    <small>values</small>
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <p>Recent files</p>
            <% files.forEach(function(file){ %>
              <a href="/file_name/<%= file.filename %>"><%= file.filename %></a><hr>
            <% })%>  
          </div>
    </div> 
    <%if (header.length >0){ %>
    <h4><%= c_filename %></h4>
    <form action="/download" method="GET">
      <button class="btn btn-success" style="float: right;">Download</button>
    </form>
    <form action="/delete" method="GET">
      <button class="btn btn-danger" style="float:left;">Drop</button>
    </form><br><br>
    <% } %>
	<div id="table-wrapper">
	<div id="table-scroll">
    <table class="table table-striped table-hover">
        <thead>
            <%if (header.length >0){ %>
				<tr>
                <% header.forEach(function(head){ %>
                <th><%= head %> </th>
        <% }) %></tr>
		<% }else{ %>
            <tr>
                <h3 style="text-align: center;">Upload/Click file to view!..</h3>
            </tr>
        <% } %>
        </thead>
        <tbody>
			<% if(header.length >0){ %>
				<% for(var i=0;i<data.length;i++){%>
					<tr>
						<% for(var j=0;j<header.length;j++){%>
							<td><%= data[i][header[j]]%></td>
						<% }%>
					</tr> 
			<%}%>
			<% }%>
        </tbody>
        </table>
	</div>
	</div>
    <br><br>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>